AsynchronousSample/AsynchronousSampleApplication/src/jbiServiceUnits/META-INF/AsynchronousSample/src/localhost_8080/CouchDbSvc/CouchDbSvcService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ex5.aic.tu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ex5.aic.tu/" name="CouchDbSvcService">
<types>
<xsd:schema>
<xsd:import namespace="http://ex5.aic.tu/" schemaLocation="http://localhost:8080/CouchDbSvc/CouchDbSvcService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getContent">
<part name="parameters" element="tns:getContent"></part>
</message>
<message name="getContentResponse">
<part name="parameters" element="tns:getContentResponse"></part>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"></part>
</message>
<message name="createDocument">
<part name="parameters" element="tns:createDocument"></part>
</message>
<message name="createDocumentResponse">
<part name="parameters" element="tns:createDocumentResponse"></part>
</message>
<message name="getDocument">
<part name="parameters" element="tns:getDocument"></part>
</message>
<message name="getDocumentResponse">
<part name="parameters" element="tns:getDocumentResponse"></part>
</message>
<message name="getTitle">
<part name="parameters" element="tns:getTitle"></part>
</message>
<message name="getTitleResponse">
<part name="parameters" element="tns:getTitleResponse"></part>
</message>
<message name="searchDocumentsFor">
<part name="parameters" element="tns:searchDocumentsFor"></part>
</message>
<message name="searchDocumentsForResponse">
<part name="parameters" element="tns:searchDocumentsForResponse"></part>
</message>
<message name="searchDocumentsForCsv">
<part name="parameters" element="tns:searchDocumentsForCsv"></part>
</message>
<message name="searchDocumentsForCsvResponse">
<part name="parameters" element="tns:searchDocumentsForCsvResponse"></part>
</message>
<portType name="CouchDbSvc">
<operation name="getContent">
<input message="tns:getContent"></input>
<output message="tns:getContentResponse"></output>
<fault message="tns:IOException" name="IOException"></fault>
</operation>
<operation name="createDocument">
<input message="tns:createDocument"></input>
<output message="tns:createDocumentResponse"></output>
</operation>
<operation name="getDocument">
<input message="tns:getDocument"></input>
<output message="tns:getDocumentResponse"></output>
<fault message="tns:IOException" name="IOException"></fault>
</operation>
<operation name="getTitle">
<input message="tns:getTitle"></input>
<output message="tns:getTitleResponse"></output>
<fault message="tns:IOException" name="IOException"></fault>
</operation>
<operation name="searchDocumentsFor">
<input message="tns:searchDocumentsFor"></input>
<output message="tns:searchDocumentsForResponse"></output>
</operation>
<operation name="searchDocumentsForCsv">
<input message="tns:searchDocumentsForCsv"></input>
<output message="tns:searchDocumentsForCsvResponse"></output>
</operation>
</portType>
<binding name="CouchDbSvcPortBinding" type="tns:CouchDbSvc">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getContent">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createDocument">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDocument">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getTitle">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="searchDocumentsFor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="searchDocumentsForCsv">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CouchDbSvcService">
<port name="CouchDbSvcPort" binding="tns:CouchDbSvcPortBinding">
<soap:address location="http://localhost:8080/CouchDbSvc/CouchDbSvcService"></soap:address>
</port>
</service>
</definitions>