AsynchronousSample/AsynchronousSampleApplication/src/jbiServiceUnits/AsynchronousSample/localhost_8080/TwitterService/TwitterServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ex5.aic.tu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ex5.aic.tu/" name="TwitterServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ex5.aic.tu/" schemaLocation="http://localhost:8080/TwitterService/TwitterServiceService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="twitterSearch">
<part name="parameters" element="tns:twitterSearch"></part>
</message>
<message name="twitterSearchResponse">
<part name="parameters" element="tns:twitterSearchResponse"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="twitterSearchCsv">
<part name="parameters" element="tns:twitterSearchCsv"></part>
</message>
<message name="twitterSearchCsvResponse">
<part name="parameters" element="tns:twitterSearchCsvResponse"></part>
</message>
<portType name="TwitterService">
<operation name="twitterSearch">
<input message="tns:twitterSearch"></input>
<output message="tns:twitterSearchResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="twitterSearchCsv">
<input message="tns:twitterSearchCsv"></input>
<output message="tns:twitterSearchCsvResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
</portType>
<binding name="TwitterServicePortBinding" type="tns:TwitterService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="twitterSearch">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="twitterSearchCsv">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="TwitterServiceService">
<port name="TwitterServicePort" binding="tns:TwitterServicePortBinding">
<soap:address location="http://localhost:8080/TwitterService/TwitterServiceService"></soap:address>
</port>
</service>
</definitions>