AsynchronousSample/AsynchronousSample/src/localhost_8080/TwitterService/TwitterServiceService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://ex5.aic.tu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ex5.aic.tu/">

<xs:element name="Exception" type="tns:Exception"></xs:element>

<xs:element name="twitterSearch" type="tns:twitterSearch"></xs:element>

<xs:element name="twitterSearchCsv" type="tns:twitterSearchCsv"></xs:element>

<xs:element name="twitterSearchCsvResponse" type="tns:twitterSearchCsvResponse"></xs:element>

<xs:element name="twitterSearchResponse" type="tns:twitterSearchResponse"></xs:element>

<xs:complexType name="twitterSearchCsv">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="twitterSearchCsvResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="twitterSearch">
<xs:sequence>
<xs:element name="arg0" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="twitterSearchResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>