AsynchronousSample/AsynchronousSampleApplication/src/jbiServiceUnits/META-INF/AsynchronousSample/src/localhost_8080/AsyncWebApp/HumanServiceService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://testPackage/" xmlns:ns1="http://enterprise.netbeans.org/bpel/AsynchronousSampleSchemaNamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://testPackage/">

<xs:import namespace="http://enterprise.netbeans.org/bpel/AsynchronousSampleSchemaNamespace" schemaLocation="http://localhost:8080/AsyncWebApp/HumanServiceService?xsd=2"></xs:import>

<xs:element name="confirm" type="tns:confirm"></xs:element>

<xs:element name="confirmResponse" type="tns:confirmResponse"></xs:element>

<xs:complexType name="confirm">
<xs:sequence>
<xs:element name="arg0" type="ns1:typeB" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="confirmResponse">
<xs:sequence>
<xs:element name="return" type="ns1:typeB" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>